<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/SCSS/style.css">

    <title>Document</title>
</head>
<body>
    <div class="header sdg">
        <a href="/TEMPLATES/index.html">
            <div class="header-logo" >
                <img class="header-logo-img" src="/IMAGES/logo.png" alt="logo">
            </div>
            </a>
        <div class="header-navdiv">
            <nav class="header-navdiv-navbar">
                <ul class="header-navdiv-navbar-ul">
                     <li class="header-navdiv-navbar-ul-li"><a class="halfrem anchorul md-w anchorcolor" href="/TEMPLATES/index.html">HOME</a></li>
                     <li class="header-navdiv-navbar-ul-li"><a class="halfrem  anchorul md-w anchorcolor" href="/TEMPLATES/placements.html">PLACEMENTS</a></li>
                     <li class="header-navdiv-navbar-ul-li"><a class="halfrem cc anchorul md-w anchorcolor" href="#">ABOUT-US</a></li>
                     <li class="header-navdiv-navbar-ul-li"><a class="halfrem anchorul md-w anchorcolor" href="/TEMPLATES/feedback.html">FEEDBACK</a></li>
    
                </ul>
            </nav>
        </div>
        </div>
        <div class="abii">
            <img class="oli sdw" src="/IMAGES/officiallogo.jpeg" alt="">
        <div class="abi sdg">
            
             <h1 style="margin-top: 0;" class="hv-w "> SYED SADI UR RAHMAN</h1>
             
            <p>
                Designed by : <span style="font-style: italic;">Syed Sadi Ur Rahman</span><br>
                Contact : +91 9731865063  <br>
                E mail : <a class="anchorul" href="#">syedsadi33@gmail.com</a> <br>
                Front-end : Html ,CSS ,SCSS <br>
                Back-end :  JavaScript <br>
                Via : Visual Studio Code Community version  <br>
            </p>
        </div>
    </div>
        <div class="footer sdg">
            <h2 class="footer-heading">GHOUSIA INDUSTRIAL & ENGINEERING TRUST</h2>
            <p class="footer-para">Near Christ College, Hosur Road, Bangalore - 560 029 | 080 - 27273577 | secretarygiet@gmail.com</p>
            <img class="favicon" src="/IMAGES/toppng.com-facebook-instagram-twitter-icons-png-facebook-logo-gold-1593x419.png" alt="">
            <p class="lt-w">Developed by: <a class="anchorul cl-wt" href="#">@syedsadi</a></p>   
        </div>
    
</body>
</html>