<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/SCSS/style.css">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <a href="/TEMPLATES/index.html">
        <div class="header-logo" >
            <img class="header-logo-img" src="/IMAGES/logo.png" alt="logo">
        </div>
        </a>
        <div class="header-navdiv">
            <nav class="header-navdiv-navbar">
                <ul class="header-navdiv-navbar-ul">
                     <li class="header-navdiv-navbar-ul-li"><a class="halfrem anchorul md-w anchorcolor" href="/TEMPLATES/index.html">HOME</a></li>
                     <li class="header-navdiv-navbar-ul-li"><a class="halfrem anchorul md-w anchorcolor" href="/TEMPLATES/placements.html">PLACEMENTS</a></li>
                     <li class="header-navdiv-navbar-ul-li"><a class="halfrem anchorul md-w anchorcolor" href="/TEMPLATES/about-us.html">ABOUT-US</a></li>
                     <li class="header-navdiv-navbar-ul-li"><a class="halfrem anchorul md-w anchorcolor" href="/TEMPLATES/feedback.html">FEEDBACK</a></li>
    
                </ul>
            </nav>
        </div>
        </div>
    <div class="div-info cl-gray">
    <h1 class="hv-w cl-gray">About GCE</h1>
    <p class="cl-gray">
        Ghousia College of Engineering was started in the year 1980. The College is affiliated to Visvesvaraya Technological University, Belagavi and recognized by AICTE, New Delhi and Government of Karnataka. All its departments are accreidited by National Board of Accreditation (NBA) for the third term. It is the No.1 Minority College in the State of Karnataka. The College is situated on an expanse of 35 acres of land, about 45 KMs from Bengaluru on the Bengaluru-Mysore National Highway 275. The Library is housed in a separate building with a separate Issue, Reference and General Reading Room Sections with a sufficient collection of books and subscribed to the e-Journals through VTU Consortia. Hostel facility for about 600 students is provided in the campus with separate Hostel for Girls.The College has Excellent Sports facilities for students including gymnasium. Transportation facility is available for students coming from Bengaluru, Mandya, Channapatna& Ramanagaram.
       <br><br>
        
The College was awarded as “Excellent Engineering College in Karnataka - 2016” during IInd National Karnataka Education Summit & Awards by MNRE & MSME (Govt. of India), AICTE, Association of Indian Universities, CMAI, VTU, NSIC, Electronics India, niXi and NIELIT, organized by Visvesvaraya Technological University, Belagavi
<br><br>
    <div class="iiim fd-rs" style="justify-content: space-around; margin-bottom: 2rem;">
           <img src="/IMAGES/t1.jpg" alt="">
           <img  src="/IMAGES/t2.jpg" alt="">
    </div>
        The College has a Placement Centre. Several organizations have also made use of our Placement Centre. The College organizes variousprogrammes which help in improving the overall personality of students.
    </p>
    <p></p>
    
     <h1 class="hv-w cl-gray">Vision</h1>
     <p class="cl-gray">
        To be an Excellent Engineering College providing world class engineers, who can handle the ever changing technology effectively. More importantl, to instil amongst our students good character, human values and other attributes which enable them to become good citizens.

     </p>
     <h1 class="hv-w cl-gray">Mission</h1>
     <p class="cl-gray">
        To Provide state of the art infrastructure facilities and programmes essential for offering world class technical education, Trainging, Consultancy, Research & Development activities & to provide facilities for curricular and co-curricular activities necessary for development of overall personality of our students.
     </p>
     <h1 class="hv-w cl-gray">Quality Policy</h1>
     <p class="cl-gray">
        We at Ghousia College of Engineering, dedicate and commit ourselves to accomplish and sustain our VISION and MISSION of GCE through the synergy of the knowledge, skill, expertise, hard work and co-operation of GCE Team of faculty members, supporting staff, our alumni members, students and members of our College management by continuous improvement.
     </p>
</div>
<div class="footer">
    <h2 class="footer-heading">GHOUSIA INDUSTRIAL & ENGINEERING TRUST</h2>
    <p class="footer-para">Near Christ College, Hosur Road, Bangalore - 560 029 | 080 - 27273577 | secretarygiet@gmail.com</p>
    <img class="favicon" src="/IMAGES/toppng.com-facebook-instagram-twitter-icons-png-facebook-logo-gold-1593x419.png" alt="">
    <p class="lt-w">Developed by: <a class="anchorul cl-wt" href="#">@syedsadi</a></p>   
</div>
</body>
</html>