<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/SCSS/style.css">

    <title>Document</title>
</head>
<body>
    <div class="header">
        <a href="/TEMPLATES/index.html">
        <div class="header-logo" >
            <img class="header-logo-img" src="/IMAGES/logo.png" alt="logo">
        </div>
        </a>
        <div class="header-navdiv">
            <nav class="header-navdiv-navbar">
                <ul class="header-navdiv-navbar-ul">
                     <li class="header-navdiv-navbar-ul-li"><a class="halfrem anchorul md-w anchorcolor" href="/TEMPLATES/index.html">HOME</a></li>
                     <li class="header-navdiv-navbar-ul-li"><a class="halfrem anchorul md-w anchorcolor" href="/TEMPLATES/placements.html">PLACEMENTS</a></li>
                     <li class="header-navdiv-navbar-ul-li"><a class="halfrem anchorul md-w anchorcolor" href="/TEMPLATES/about-us.html">ABOUT-US</a></li>
                     <li class="header-navdiv-navbar-ul-li"><a class="halfrem anchorul md-w anchorcolor" href="/TEMPLATES/feedback.html">FEEDBACK</a></li>
    
                </ul>
            </nav>
        </div>
        </div>
        <div class="facillities cl-gray hv-w">
             <h1>Hostel Facillities</h1>
             <div class="hf fd-r">
                 <div class="hf-img1 hf-img">
                      <img class="hf-img-i" src="/IMAGES/hf1.jpg" alt="">
                      <p>Sir Syed Ahmed Boys Hostel
                          <br>
                        Phone : 080 – 7271009
                         <br>
                        E-mai: hostel_sirsyedahmed@ghousiaedu.org
                          <br>
                        Capacity : 250 students
                        <br>
                        
                        This Hostel accommodation is exclusively for Ist Year students of all branches</p>
                 </div>
                 <div class="hf-img1 hf-img">
                    <img class="hf-img-i" src="/IMAGES/hf2.jpg" alt="">
                    <p>Moulana Azad Boys Hostel
                        <br>
                        Phone : 080 – 7273475,
                        <br>
                        E-mai: hostel_moulanaazad@ghousiaedu.org
                        <br>
                        Capacity : 250 students
                        <br><br>
                        
                        This Hostel accommodation is exclusively for II Year students of all branches</p>
               </div>
               <div class="hf-img1 hf-img">
                <img class="hf-img-i" src="/IMAGES/hf3.jpg" alt="">
                  <p>
                    Tippu Sultan Boys Hostel
                       <br>
                    Phone : 080 – 7271664,
                        <br>
                    E-mai: hostel_tippusultan@ghousiaedu.org
                     <br>
                    Capacity : 300 students
                    <br><br>
                    
                    This Hostel accommodation is exclusively for III & IV Year students of all branches and Single room accommodation is also available for meritorious students.
                  </p>
                    
           </div>
           <div class="hf-img1 hf-img">
            <img class="hf-img-i" src="/IMAGES/hf4.jpg" alt="">
              <p>
                Hazrath Bi Bi Fathima Girls Hostel
                 <br>
                Capacity : 120 students,,
                <br>
                E-mai: hostel_bibifathima@ghousiaedu.org
                <br><br>
                
                This Hostel accommodation is exclusively for Girls students of all branches
              </p>
                
       </div>
             </div>
             <h1>Library</h1>
             <p>Library

                The college has a well stacked library housed in a separate building with a total area of about 737.50 Sq.m with separate halls for issuing Section and Reference section. In addition to the Main library, there are separate departmental libraries in all Engineering departments. At present the library has 48,572 Volumes on its shelves costing over Rs.92.3 Lakhs The library has Subscribed to online e-resources (e Journals packages) through VTU Consortium from different publishers listed below.</p>
             <div class="lf">
                 <div class="hf-img">
                     
                     <img class="hf-img-i" src="/IMAGES/lf.jpg" alt="">
                     <p>Besides this 56 National Journals 18 news papers and 23 Basic Science and General Magazines are also subscribed.</p>
                 </div>
                 <p>1.IEEE, IEL Onlone.

                    2.ASME (American Society of Mechanical Engineering)
                    
                    3.Springer e-Journals & e-books
                    
                    4.ASCE ( American Society of Civil Engineer)
                    
                    5.Taylor and Francis
                    
                    6.ProQuest Engineering
                    
                    7.Knimbus Digital library
                    
                    8.Knimbus Remote Access
                    
                    9.Kopykitab e-Books
                    
                    10.Sententia- An Assistive tool for formal writing</p>
             </div>

        </div>
        <div class="footer">
            <h2 class="footer-heading">GHOUSIA INDUSTRIAL & ENGINEERING TRUST</h2>
            <p class="footer-para">Near Christ College, Hosur Road, Bangalore - 560 029 | 080 - 27273577 | secretarygiet@gmail.com</p>
            <img class="favicon" src="/IMAGES/toppng.com-facebook-instagram-twitter-icons-png-facebook-logo-gold-1593x419.png" alt="">
            <p class="lt-w">Developed by: <a class="anchorul cl-wt" href="#">@syedsadi</a></p>   
        </div>
</body>
</html>