<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/SCSS/style.css">
    <title>Document</title>
</head>
<body>
    <div class="header sdg">
        <a href="/TEMPLATES/index.html">
        <div class="header-logo" >
            <img class="header-logo-img" src="/IMAGES/logo.png" alt="logo">
        </div>
        </a>
        <div class="header-navdiv">
            <nav class="header-navdiv-navbar">
                <ul class="header-navdiv-navbar-ul">
                     <li class="header-navdiv-navbar-ul-li"><a class="halfrem  anchorul md-w anchorcolor" href="/TEMPLATES/index.html">HOME</a></li>
                     <li class="header-navdiv-navbar-ul-li"><a class="halfrem anchorul md-w anchorcolor" href="/TEMPLATES/placements.html">PLACEMENTS</a></li>
                     <li class="header-navdiv-navbar-ul-li"><a class="halfrem anchorul md-w anchorcolor" href="/TEMPLATES/about-us.html">ABOUT-US</a></li>
                     <li class="header-navdiv-navbar-ul-li"><a class="halfrem cc anchorul md-w anchorcolor" href="#">FEEDBACK</a></li>
    
                </ul>
            </nav>
        </div>
        </div>
    <div class="feed">
    <p style=" color: gray;">To : <span style="font-style: italic;"> principalgce@feedback </span></p>
    <textarea class="feed-ta sdg" id="1" cols="30" rows="10" placeholder="We appriciate's you"></textarea>
    <a class="anchorul cl-wt feed-btn" href="#">send</a>
    </div>
</body>
</html>