<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/SCSS/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Romanesco&display=swap" rel="stylesheet">
</head>
<body>
    <div id="overlay" class="halfrem" >
        <p class="pi si" onclick="off()" ><a class="anchorul mi" href="#">view less</a></p>
        <div class="pmd">
            <p>Ghousia College of Engineering (GCE) was started in the year 1980. Ali Janab Haji Nabi Sheriff Saheb started the college in the name of his father Ali Janab Mohammed Ghouse. It is Owned and Managed by Ghousia Industrial & Engineering Trust (GIET), Bangalore and is a unit of Al-Ameen Movement. The College is approved by All India Council for Technical (AICTE), New Delhi, and is affiliated to Visveswariah Technological University (VTU) Belgaum. 2004-2005 was the Silver Jubilee Year of our College. The college was awarded for excellence and quality technical education in 2016 and 2017 respectively.
                <br><br>
                Over the past years, GCE has developed very well and has been recognized as one of the good Engineering Colleges in Karnataka State. The College has well qualified, experienced and dedicated faculty and supporting staff, state of the art laboratory and workshop facilities, Computer facilities, Library and Information Center, outdoor and indoor games, multi-gym, air conditioned seminar hall and open air Amphi Theatre, round the clock Internet facilities & separate hostels for Boys and Girls on campus.
                <br><br>
                The College offers courses leading to BE Degree in six disciplines, M.Tech., courses in four streams, Research Courses leading to M.Sc., Engg., PhD degree in Mechanical Engineering, Electrical and Electronics Engineering, Civil Engineering, Physics and Chemistry. All the departments in the college are accredited by NBA. As on date there are 18 doctorates and all other post graduates among staff members and another 30 are doing doctorate degrees.
                <br><br>
                The College has bagged several university ranks both in P.G and U.G courses So far, about 12,000 students have graduated in various disciplines of engineering from our college. Many of our College Alumni are holding very high positions in a number of well known organizations, not only in our country but also abroad. The College has a full-fledged placement and Training Centre. This Centre organizes several training programmes related to development of technical & soft skills to our college students. The Placement and Training Centre has enabled our college students to participate in recruitment programmes of several leading organizations.</p>
                <br><br>
                <p class="al" style="font-style: italic; text-align: right;">Dr. Mohammed Zahed Ansari Principal
                    <br>
                    E-mail: principalgce@gmail.com</p>
            </div>
    </div>
    <div class="header sdg fd-r">
    
        <div class="chup fd-r">
            <a href="/TEMPLATES/index.html"></a>
    <div class="header-logo" >
        <img class="header-logo-img" src="/IMAGES/logo.png" alt="logo">
        
    </div>
</a>
    <div class="vl"></div>
    <p class="text">Ghousia College of Engineering</p>
    </div>
    
    
    
    <div class="header-navdiv">
        <nav class="header-navdiv-navbar">
            <ul class="header-navdiv-navbar-ul">
                 <li class="header-navdiv-navbar-ul-li"><a class="halfrem cc anchorul md-w anchorcolor" href="/TEMPLATES/index.html">HOME</a></li>
                 <li class="header-navdiv-navbar-ul-li"><a class="halfrem anchorul md-w anchorcolor" href="/TEMPLATES/placements.html">PLACEMENTS</a></li>
                 <li class="header-navdiv-navbar-ul-li"><a class="halfrem anchorul md-w anchorcolor" href="/TEMPLATES/about-us.html">ABOUT-US</a></li>
                 <li class="header-navdiv-navbar-ul-li"><a class="halfrem anchorul md-w anchorcolor" href="/TEMPLATES/feedback.html">FEEDBACK</a></li>

            </ul>
        </nav>
    </div>
    </div>
    <div class="tabnav fd-rs">
        <a class="tba halfrem anchorul " href="/TEMPLATES/about-ghousia.html">About Ghousia</a>
        <a class="tba halfrem anchorul " href="/TEMPLATES/facillities.html">Facilities</a>
        <a class="tba halfrem anchorul " onclick="addwin()" href="#">Courses</a>
        <a class="tba halfrem anchorul " href="#">Gallery</a>
        <a class="tba halfrem anchorul " href="#">Contact-us</a>
        
    </div>
    <div id="dptwin" class="dept">
        <div class="dept-div">
            
           <p onclick="location.href='/DEPARTMENTS/mech.html'" class="md-w cl-gray dept-div-i">Mechanical</p>
           <p class="md-w cl-gray dept-div-i">Civil</p>
           <p class="md-w cl-gray dept-div-i">Electronics</p>
           <p class="md-w cl-gray dept-div-i">Electrical</p>
           <p class="md-w cl-gray dept-div-i">Computer Science</p>
           <p class="md-w cl-gray dept-div-i">Information Science</p>
           <p onclick="rmwin()" style="margin-top: 0; margin-left: 5px;" class="pi mi">close</p>
        </div>
    </div>

    <div class="main">
        <div class="fd-r">
        <div class="main-imgdiv sdw fd-r">
            <img class="main-imgdiv-img" src="/IMAGES/1.jpg" alt="">
           
            <div class="di hv-w ">
            <p class="pp">GHOUSIA</p>
            <div class="loco">
                
            <img class="giet" src="/IMAGES/glogo.jpg " alt="">
            </div>
        </div>
        </div>
        <div class="main-princi sdw">
            <div class="main-princi-imgdiv">
                <img class="main-princi-imgdiv-img" src="/IMAGES/Screenshot 2021-10-17 125632.png" alt="prici">
            </div>
            <h3 class="cl-darkgray">Princpal's Message</h3>
            <p class="cl-gray">Ghousia College of Engineering (GCE) was started in the year 1980. Ali Janab Haji Nabi Sheriff Saheb started the college in the name of his father Ali Janab Mohammed Ghouse. It is Owned and Managed by Ghousia Industrial & Engineering Trust (GIET), Bangalore and is a unit of Al-Ameen Movement.</p>
            <p class="pi" onclick="on()"><a class="anchorul mi" href="#">More info..</a></p>

        </div>
        </div>
        <div class="fd-r mt2">
            <div class="main-info-div sdw main-info-div1 atc cl-wt" onclick="location.href='/TEMPLATES/about-ghousia.html'" >
                <h2 class="card-heading">ABOUT GHOUSIA </h2>
              <p class="card-para">Ghousia College of Engineering was started in the year 1980. The College is affiliated to Visvesvaraya Technological University, Belagavi and recognized by AICTE, New Delhi.
            </p>

            </div>
            
            <div class="main-info-div sdw main-info-div2 atc cl-wt" onclick="location.href='/TEMPLATES/placements.html'">
                  <h2 class="card-heading">PLACEMENT & TRAINING</h2>   
             <p class="card-para">The Placement and Training Department headed by Mr.Mohammed Irshad as Head – HR & Corporate Relations. The department is having a small group of dedicated and committed staff.</p>
            </div>

            <div class="main-info-div sdw main-info-div3 atc cl-wt" onclick="location.href='/TEMPLATES/facillities.html'">
                    <h2 class="card-heading"> FACILITIES AT GHOUSIA </h2>     
                    <p class="card-para">
                     
                        PLACEMENT &
                        TRAINING CELL
                        DEAN AND DIRECTOR'S MESSAGE
                        
                        The Placement and Training Department headed by Mr.Mohammed Irshad as Head – HR & Corporate Relations. 
                   
                        

            </div>
        </div>
    <div class="loc sdg">
       <h3> Location:</h3>
       <p>
Located at Ramanagaram which is an internationally famous township for silk and silk products, 45 kms from Bangalore on the Bangalore-Mysore highway, the college is situated in a placid locality on 35 acres of land surrounded by picturesque hillocks. The atmosphere is very much conducive for studying.
<br>
<br>
<div class="iii fd-r">
    <p>Principal,
        <br><br>

        Ghousia College of Engineering,
        
        Ramanagara - 562159,
        
        Tel: 080-27273577 Fax: 080- 27273474
        
        Mobile: 9141158461
        
        E-mail: principalgce@gmail.com</p>
        <p style="margin-left: 1rem;">
            For Nepal Students,
            <br><br>

            The Global Education Counseling Centre Pvt. Ltd.
            
            Bagbazar (Opp. to Hotel Hardik)
            
            Kathmandu, Nepal.
            
            Mobile: +9779841137676 / 9851153386,
            
            Phone:+977-1-4215762 / 4246007
            
            E-mail: globaleducationcc@gmail.com
            
            globalgecc@wlink.com.np
            
            Website: www.globalgecc.edu.np
         </p>   
        <p>Administrative Office,
            <br>
            <br>
            Ghousia College of Engineering,
            
            Ramanagara - 562159,
            
            Mobile: 09845369879/09845908691
            
            E-mail: principal_gce@hotmail.com</p>
        
</div>
<br><br><br>
<p style="text-align: center;"> Admission Help Desk
<br>
<br>
Engineering : 080-27273577  &nbsp;&nbsp; |
Ploytechnic : 080-25503577  &nbsp;&nbsp; | &nbsp;&nbsp;
ITI         : 080-25536268 
</p>
<p style="font-style: italic; text-align: right; margin-right: 3rem;" >Website: www.globalgecc.edu.np</p>

</p>    
</div>
        
    </div>
    <img style="margin: 1rem; margin-left: 36%;" src="/IMAGES/logo.png" alt="">
    <div class="footer sdg">
        <h2 class="footer-heading">GHOUSIA INDUSTRIAL & ENGINEERING TRUST</h2>
        <p class="footer-para">Near Christ College, Hosur Road, Bangalore - 560 029 | 080 - 27273577 | secretarygiet@gmail.com</p>
        <img class="favicon" src="/IMAGES/toppng.com-facebook-instagram-twitter-icons-png-facebook-logo-gold-1593x419.png" alt="">
        <p class="lt-w">Developed by: <a class="anchorul cl-wt" href="#">@syedsadi</a></p>   
    </div>
    <script>
        function on() {
          document.getElementById("overlay").style.display = "block";
        }
        function addwin() {
          document.getElementById("dptwin").style.display = "block";
        }
        
        
        
        function off() {
          document.getElementById("overlay").style.display = "none";
        }
        function rmwin() {
          document.getElementById("dptwin").style.display = "none";
        }
        </script>
</body>
</html>