<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/SCSS/style.css">

    <title>Document</title>
</head>
<body>
    <div class="header sdg">
        <a href="/TEMPLATES/index.html">
            <div class="header-logo" >
                <img class="header-logo-img" src="/IMAGES/logo.png" alt="logo">
            </div>
            </a>
        <div class="header-navdiv">
            <nav class="header-navdiv-navbar">
                <ul class="header-navdiv-navbar-ul">
                     <li class="header-navdiv-navbar-ul-li"><a class="halfrem anchorul md-w anchorcolor" href="/TEMPLATES/index.html">HOME</a></li>
                     <li class="header-navdiv-navbar-ul-li"><a class="halfrem cc anchorul md-w anchorcolor" href="/TEMPLATES/placements.html">PLACEMENTS</a></li>
                     <li class="header-navdiv-navbar-ul-li"><a class="halfrem anchorul md-w anchorcolor" href="/TEMPLATES/about-us.html">ABOUT-US</a></li>
                     <li class="header-navdiv-navbar-ul-li"><a class="halfrem anchorul md-w anchorcolor" href="/TEMPLATES/feedback.html">FEEDBACK</a></li>
    
                </ul>
            </nav>
        </div>
        </div>
        <div class="main">
            <div class="imgdis sdw">
                <img style="width: 100%;" src="/IMAGES/placements2021.jpeg" alt="">
            </div>
            <p class="cl-gray">The Placement and Training Department headed by Mr.Mohammed Irshad as Head – HR & Corporate Relations. The department is having a small group of dedicated and committed staff. The department is provided with all the facilities to enable the deserving students of the Institution to get competitive placements. Reputed companies are visiting our Institute regularly. As many as 50-60 companies are visiting our Institute & inviting our college for pooled campus recruitments. About 70% of eligible students are placed in reputed companies every year. Placement Department is arranging training right from first semester onwards in Aptitude, Soft Skills & Technical Skills to enable the students to become trainable & employable candidates for campus recruitment program. Many of our students are recruited by reputed companies and are doing extremely good. The department is located in the first floor of "Administrative Block"
                <br>
                <br>
                <p class="cl-gray" style="font-style: italic; text-align: right;">Contact: placementsgce@gmail.com
                <br>
                Land-line: 080-27272589
                <br>
                Mobile: 7019863844 / 9916142552</p></p>
                <br><br>
               <p class="hv-w cl-gray">Number of students placed from November 2013 Onwards up to September 2019</p>
                <div class="imgdis sdw">
                    <img  style="width: 100%;" src="/IMAGES/Screenshot 2021-10-17 214328.png" alt="">
                </div>
        </div>
        <div class="footer sdg">
            <h2 class="footer-heading">GHOUSIA INDUSTRIAL & ENGINEERING TRUST</h2>
            <p class="footer-para">Near Christ College, Hosur Road, Bangalore - 560 029 | 080 - 27273577 | secretarygiet@gmail.com</p>
            <img class="favicon" src="/IMAGES/toppng.com-facebook-instagram-twitter-icons-png-facebook-logo-gold-1593x419.png" alt="">
            <p class="lt-w">Developed by: <a class="anchorul cl-wt" href="#">@syedsadi</a></p>   
        </div>
</body>
</html>